/* color pallette
107  81  91   plum
237 198 131    tan
222 213 196   eggshell
91  76  73    warm grey
93 126 105    pine */

body {
  background-color: rgb(222,213,196);
  position: relative;
  margin: 0px auto;
  color: rgb(91,76,73);
  
}

.brand-logo {
  margin: 10px 10px;
}

nav {
  background-color: rgb(107, 81, 91);
  position: fixed;
  margin: 0px auto;
  width: 100%;
  z-index: 3;
  height: 108px;
  top: 0;
  
}

nav ul {
  margin: 0px auto;
  margin-bottom: 15px;
  width: 1020px;
}

nav li {
  display: inline-block;
  margin: 0px 40px 0px 0px;
  vertical-align: middle;
}

nav a {
  text-decoration: none;
  color: rgb(237, 198, 131);
  display: block;
  padding:5px;
}

nav a:hover {
  background-color: rgb(93, 126, 105);
  border-radius: 10px;
}

main {
  /* position: relative; */

  /* display: inline-block; */
  /* height: 315px; */
  /* display: block;*/
  width: 1020px;
  /* height: 350px; */
  margin: 0px auto;
  /* padding-bottom: 20px; */
  /* outline: 4px dotted black; */
}

section {
  width: 1020px;
  margin: 0px auto;
  /* outline: 4px dotted black; */
}

/* #whelping-box-table {

} */
table{
float:left;
}

article {
  width: 300px;
  height: 409px;
  overflow: scroll;
  margin-left: 500px;
  border: 2px double rgb(91,76,73);
  padding: 10px; 
}

article p {
  font-size: 18px;
  padding-bottom: 12px;
}

footer {
  display: inline-block;
  background-color: rgb(107, 81, 91);
  color: rgb(237, 198, 131);
  /* text-align: center; */
  height: 175px;
  margin-top: 30px;
  width: 100%;
  
}


form {
  display: fixed;
  margin: 10 auto; 
  width:250px;
  border: 1px solid black;
  padding: 5px;
  float:left;
  
  /* outline: 4px dotted black; */
}

form#form-insert {
  border-style: solid;
}

fieldset {
  /*width: 325px;*/
  border: 2px double rgb(91,76,73);
  padding: 10px; 
 /* float: left;*/
}



legend {
  margin-bottom: 10px;
}

input {
  display: block;
  padding: 3px 0;
  margin: 18px 0;
}

select {
    display: block;
    padding: 3px 0;
    margin: 18px 0;
}

.hero-img {
  display: block;
    /* outline: 4px dotted black; */
  /* margin: 0px 30px 30px 0px; */
  width: 400; 
  height: 290px;
  float: left;
}

.hero-text {
    /* outline: 4px dotted black; */
  font-size: 20px;
  
  /* padding-top: 50px;
  padding-bottom: 40px; */
  height: 290px; 
  width: 400px;
}

div {
  display: block;
  /* outline: 4px dotted red; */
  /* clear: both; */
  float: left;
  width: 400px;
  height: 290px; 
  position: relative;
  z-index: 1;  
  padding: 0, 50px ; 
}

footer ul {
  width: 200px;
  padding: 20px;
}

footer li {
  padding-bottom: 14px;
}

footer a {

  /* float: left; */
  padding-bottom: 14px;
  text-decoration: none;
  color: rgb(237, 198, 131);
  
}
footer div {
  float:left;
  width: 250px;
  height: 220px;
  /* margin: 0; */
  float:left;
  text-align: center;
}

.left-content-panel {
  margin: 0px 30px 0px 0px;
}

/* 91  76  73    warm grey
93 126 105    pine */ 

h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 125px;
  margin: 15px auto ;
  color: rgb(91,76,73);
  text-shadow: 3px 2px 2px rgb(93, 126, 105);
}

h2 {
  font-weight: bold;
  /* float: left ; */
  padding-top: 30px;
  padding-left: 15px;
  
}

h6 {
  padding-top: 70px;
  font-size: 20px;
  color: rgb(237, 198, 131);
  padding-left: 6px;
  /* color: blue; */
  text-decoration-line: underline;

}

p {
  color: rgb(91,76,73);
}

div p {
  position: absolute;
  bottom: 50px; 
  left: 80px;
  padding: 8px;
  color: rgb(91,76,73);
  background-color: rgba(222,213,196,.5);
  border-radius: 8px;
  font-size: 23px;
}


#badge {
  width: 20%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

button:hover {
  background-color: #fff;
}

#github-logo {
  position: absolute;
  left: 115px;
  top: 20px;
}

th {
  padding: 2.5px;
}

td {
  font-family: 'Helvetica', sans-serif;
  font-size: small;
  padding: 1px 5px 1px 15px;
}



table, th, td {
  border: 1px solid black;
  margin-left: 150px;
  /* clear: both; */
  /* margin-top: 50px; */
}


ol li {
  list-style-type: none;
  display: inline;
}

ol li a img {
  display: block;
  padding-top: 5px;
}

.about {
  /* outline: 5px dotted green; */
  width: 1020px;
  height: 253px;
  margin: 0px auto;
}

.about h3 {
  font-size: 35px;
  color: rgb(93, 126, 105);
  padding-bottom: 15px;
  font-weight: bold;
}

.about p {
  /* outline: 5px dotted blue; */
  float: left;
  margin-left: 25px;
  width: 899px;
  height: 146px;
  font-size: 20px;
}

.contact-info p {
  text-align: center;
  line-height: 1.5;
}




label {
  clear: both;
}