
/* Header styles */
nav {
    display: none;
    flex-direction: column;
    transition: all ease .25s;
}

nav a {
    width: 100%;
    text-align: center;
    padding: 3%;
    background-color: rgb(107, 81, 91);
    color: rgb(237, 198, 131);
    text-decoration: none;
    font-size: 1.25em;
}

nav a:hover {
    background-color: rgb(138, 98, 91);
}

.header-content {
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.icon-menu {
    font-size: 3em;
    color: rgb(237, 198, 131);
    text-decoration: none;
}

/* footer styles */

footer {
    background-color: rgb(107, 81, 91);
    color: rgb(237, 198, 131);
    text-align: center;
}

footer img {
    max-width: 30%;
}

.footer-nav a {
    color:  rgb(237, 198, 131);
    margin: 1%;
    display: inline-block;
}

.github {
    padding-left: 3%;
}

.github a {
    color: rgb(237, 198, 131);
}

/* Search form */

.search-field {
    width: 100%;
}

.search-btn {
    width: 100%;
    background-color:#edc683;
    color:#6b515b;
    font-weight: bold;
    padding: 3%;
    margin-top: 3%;
}

/* Top level content */

.headliner {
    padding-bottom: 15%;
}

.about-list-img {
    width: 20%;
}

/* Helper classes */

.flexed {
    display: flex;
}

.text-center {
    text-align: center;
}

.margin-bot {
    margin-bottom: 5%;
}
.margin-lg-bot {
    margin-bottom: 15%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

@media only screen and (min-width:600px){
    .market {
        justify-content: space-between;
        margin: 0;
    }

    .desktop-hide {
        display: none;
    }

    .shelter-img-padding {
        padding: 0 2% 2% 0;
    }

    .footer-nav {
        margin-bottom: 1%;
    }

    nav {
        display: flex;
        flex-direction: row;
        transition: all ease .25s;
    }
    
    nav a {
        background-color: transparent;
        color: rgb(237, 198, 131);
        text-decoration: none;
        font-size: 1.25em;
    }

    nav a:hover {
        color: rgb(172, 136, 130);
        background-color: transparent;
    }

    header {
        display: flex;
        align-items: center;
    }

    .headliner {
        padding-bottom: 5%;
    }

    .iframe-map {
        width: 100%;
    }

    .padding-left-desk {
        padding-left: 3%;
    }

    .padding-desk {
        padding: 3%;
    }

    .feature:first-of-type {
        padding-left: 0;
    }

    .search-field {
        width: 60%;
        float: left;
    }

    .search-form {
        padding: 0 15%;
    }

    .search-btn {
        width: 30%;
        padding: 1%;
        float: left;
        margin: 0;
        margin-left: 3%;
    }

    #add-puppy-form button {
        width: 30%;
        padding: 1%;
        background-color:#edc683;
        color:#6b515b;
    }

    #add-puppy-form input {
        margin: 0 1% 1% 0;
        width: 48%;
    }

    #add-puppy-form textarea {
        width: 100%;
        margin-bottom: 1%;
    }

    .about-list-img {
        width: 10%;
    }
}