/* color pallette
107  81  91   plum
237 198 131    tan
222 213 196   eggshell
91  76  73    warm grey
93 126 105    pine */

body {
  background-color: rgb(222,213,196);
  position: relative;
  margin: 0px auto;
  
}

.brand-logo {
  margin: 10px 10px;
}

nav {
  background-color: rgb(107, 81, 91);
  position: fixed;
  margin: 0px auto;
  width: 100%;
  z-index: 3;
  height: 108px;
  top: 0;
  
}

nav ul {
  margin: 0px auto;
  margin-bottom: 15px;
  width: 1020px;
}

nav li {
  display: inline-block;
  margin: 0px 40px 0px 0px;
  vertical-align: middle;
}

nav a {
  text-decoration: none;
  color: rgb(237, 198, 131);
  display: block;
  padding:5px;
}

nav a:hover {
  background-color: rgb(93, 126, 105);
  border-radius: 10px;
}

main {
  display: inline-block;
  height: 315px;
  display: block;
  width: 1020px;
  margin: 0px auto;
  padding-bottom: 20px;
  /* outline: 4px dotted black; */
}

section {
  width: 1020px;
  margin: 0px auto;
  /* outline: 4px dotted black; */
}

footer {
  display: inline-block;
  background-color: rgb(107, 81, 91);
  color: rgb(237, 198, 131);
  /* text-align: center; */
  height: 175px;
  margin-top: 30px;
  width: 100%;
  
}


.hero-img {
    /* outline: 4px dotted black; */
  margin: 0px 30px 30px 0px;
  /* width: 400;  */
  float: left;
}
.hero-text {
    /* outline: 4px dotted black; */
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 40px;
  height: 200px; 
}

div {
  /* outline: 4px dotted red; */
  /* clear: both; */
  float: left;
  width: 400px;
  height: 320px; 
  position: relative;
  z-index: 1;  
  margin-left: 73px;
}

footer ul {
  width: 200px;
  padding: 20px;
}

footer li {
  padding-bottom: 14px;
}

footer a {

  /* float: left; */
  padding-bottom: 14px;
  text-decoration: none;
  color: rgb(237, 198, 131);
  
}

footer div {
  
  float:left;
  width: 250px;
  height: 220px;
  /* margin: 0; */
  float:left;
  text-align: center;
}

ol li {
  padding-bottom: 40px;
}

.left-content-panel {
  margin: 0px 30px 0px 0px;
}

/* 91  76  73    warm grey
93 126 105    pine */ 

h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 125px;
  margin-bottom: 15px;
  color: rgb(91,76,73);
  text-shadow: 3px 2px 2px rgb(93, 126, 105);
}
h2 {
  font-weight: bold;
  /* float: left ; */
  padding-top: 30px;
  padding-left: 15px;
  
}

h6 {
  padding-top: 70px;
  font-size: 20px;
  color: rgb(237, 198, 131);
  padding-left: 6px;
  color: blue;
  text-decoration-line: underline;

}

p {
  color: rgb(91,76,73);
}

 div p {
  position: absolute;
  bottom: 50px; 
  left: 80px;
  padding: 8px;
  color: rgb(91,76,73);
  background-color: rgba(222,213,196,.5);
  border-radius: 8px;
  font-size: 23px;
}

#badge {
  width: 20%;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}

button:hover {
  background-color: #fff;
}

#github-logo {
  position: absolute;
  left: 115px;
  top: 20px;
}

th {
  padding: 2.5px;
}

td {
  font-family: 'Helvetica', sans-serif;
  color:blue;
  font-size: small;
  padding: 1px 5px 1px 15px;
}

table, th, td {
  border: 1px solid black;
}

